body {
    background: linear-gradient(to bottom, #1e5799, #7db9e8);border: 10px solid #3618be;
    box-sizing: border-box;
        margin: 0;
        padding: 0;
      
      
  }

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
}

h1 {
	font-size: 36px;
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
}

video {
	width: 100%;
	height: auto;
}

.videos-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .video {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
  }
  
  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  
/* Background decoration */


  body {
    background: #947e7e url('bg-pattern.png') repeat;
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
  }

 /*CSS for footer*/
 footer {
    background-color: #3f62ba;
    color: #fff;
    padding: 40px 20px;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-social-icons a {
    color: #fff;
    font-size: 24px;
    margin-right: 20px;
    text-decoration: none;
  }
  
  .footer-social-icons a:hover {
    color: #00acee;
  }
  
  .footer-info {
    text-align: right;
  }
  
  .footer-info p {
    margin: 0;
  }
  
  .footer-info a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-info a:hover {
    color: #00acee;
  }
  /*Navbar CSS*/
  nav {
    background-color: #4057c7;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #00acee;
  }